.top-bar {
    background: linear-gradient(45deg, #5433bf, #e8491d);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.top-bar a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.btn-donar {
    background-color: #ff3333;
    color: white;
    padding: 8px 20px;
    margin: 0px 30px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.top-bar a:hover {
    color: #e8491d;
}

.contenedor {
    padding-bottom: 5%;
}

.container {
    flex-grow: 1;
}

.signin-image {
    position: relative;
    overflow: hidden;
}

.signin-image img {
    width: 100%;
    height: 100%;
}

#fondo-form {
    background-color: white;
    width: 100%; /* Ancho total */
    max-width: 600px; /* Ancho máximo */
    margin: 0 auto; /* Centra el formulario */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    min-height: 400px; /* Altura mínima ajustada */
}

/* Estilos responsivos */
@media (max-width: 577px) {
    #fondo-form {
        margin-left: 10px; /* Margen izquierdo en pantallas pequeñas */
        margin-right: 10px; /* Margen derecho en pantallas pequeñas */
        padding: 15px; /* Ajustar padding en pantallas pequeñas */
    }

    .container {
        padding: 0 10px; /* Añadir padding lateral para el contenedor */
    }

    /* Ajustar márgenes para elementos dentro del formulario */
    .form-label {
        margin-bottom: 5px; /* Espacio entre la etiqueta y el campo */
    }

    .form-control {
        margin-bottom: 15px; /* Espacio entre los campos */
    }
}

footer {
    width: 100%;
    position: relative;
    bottom: auto;
    margin-top: auto;
}
